* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
 
}



#portafolio{
	width: 100%;
	height: 100%;
	
}

.banner{
	
	width: 100%;
	height: 230px;
}

.titulo_2{
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	padding-top: 100px;
}
#contenedor{
	width: 100%;
	margin: 0 auto;
	
}
#campañas{
	width: 100%;
	max-width: 320px;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 50px;
}
#laptop{
	width: 100%;
	max-width: 320px;
	margin: 0 auto;
}

#copycampañas{
	width: 300px;
	margin: 0 auto;
	text-align: center;

}
#campañas h2{
	color: #fa6646;
	font-size: 25px;
}
#campañas p{
	font-size: 16px;
	line-height: 18px;
	border:none;

}
#section{
	width: 300px;
	margin: 0 auto;
	margin-bottom: 20px;
	
}
#copybanner {
	margin-left: 10px;
	width: 300px;
	margin: 0 auto;
	text-align: center;
}


#copybanner h2{
	color: white;
	font-size: 25px;
}
#copybanner p{
	color: #f3f3f3;
	font-size: 16px;
	line-height: 16px;
	border:none;
	opacity: 1;
	font-weight: 100;
}
#galeria{
	width: 95%;
	max-width: 300px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#galeria_2{
	width: 95%;
	max-width: 300px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.footer{
	width: 100%;
	height: 100%;
	background: #000000;
	color:white;
	text-align: center;
}

.logo_2{
	max-width: 60px;
	padding-top: 20px;
	margin:0 auto;
}
.social{
	width: 200px;
	height: 80px;
	margin-bottom: 100px;
	margin: 0 auto;
	
}

.icon_facebook{
	width: 20%;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}
p{
	width: 100%;
	border-top: 1px solid white;
	margin: 0 auto;
	line-height: 30px;
	font-size: 10px;
	opacity: 0.4;
	
}









/*menu*/


body>nav ul {
    top: -10%;
    width: 100%;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}
.menu{
	margin: 8% auto;
	
	padding-left: 0;
	width: 100%;
	text-align: center;

}
.menu a{

	width: 100%;
	height: 100%;
	padding-top: 20px;
	display: table;
	vertical-align: middle;
}

.menu li{
	padding-left: 1.5em;
	transition: all .2s;
}
.menu li:hover {
	box-shadow: 200em 0 rgba(255,255,255, .7) inset;
}
nav{
	background: rgba(255,206,0, .9);
	width: 100%;
	height: 100%;
	margin: 0;
	top: 0;
	box-sizing: border-box;
	position: absolute;
	left: -300%;
	transition: all .9s;
	z-index: 20;
	display: table;
	position: fixed;

}
nav.mostrar{
	left: 0;
}
#mostrar-nav{
	background: url(../images/menu-icon.png);
	cursor: pointer;
	position: absolute;
	top:2em;
	left: 2em;
	width: 123px;
	height: 64px;
	z-index: 30;
	position: fixed;
	 
}
#mostrar-nav:hover{
	background: url(../images/menu-icon_2.png);
	cursor: pointer;
	position: absolute;
	top:2em;
	left: 2em;
	width: 123px;
	height: 64px;
	z-index: 30;
	position: fixed;
	 
}
/*------------------------------------------------tamaño 480-----------------------------------*/
@media(min-width: 480px){

#portafolio{
	width: 100%;
	height: 100%;
	
}

.banner{
	
	width: 100%;
	height: 230px;
}

.titulo_2{
	width: 90%;
	max-width: 300px;
	margin: 0 auto;
	padding-top: 100px;
}
#contenedor{
	width: 100%;
	margin: 0 auto;
	
}
#campañas{
	width: 100%;
	max-width: 320px;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 80px;


}
#laptop{
	width: 100%;
	max-width: 320px;
	margin: 0 auto;
}

#copycampañas{
	padding-top: 40px;
	width: 320px;
	margin: 0 auto;
	text-align: center;

}
#campañas h2{
	color: #fa6646;
	font-size: 25px;
}
#campañas p{
	font-size: 16px;
	line-height: 18px;

}
#section{
	width: 400px;
	margin: 0 auto;
	margin-bottom: 80px;
	
}

#copybanner {
	width: 300px;
	margin: 0 auto;
	text-align: center;
}


#copybanner h2{
	color: white;
	font-size: 25px;
}
#copybanner p{
	color: #f3f3f3;
	font-size: 16px;
	line-height: 16px;
	border:none;
	opacity: 1;
	font-weight: 100;
}
#galeria{
	width: 95%;
	max-width: 350px;
	margin: 0 auto;
	margin-bottom: 50px;
}
#galeria_2{
	width: 95%;
	max-width: 350px;
	margin: 0 auto;
	margin-bottom: 50px;
}


.footer{
	width: 100%;
	height: 100%;
	background: #000000;
	color:white;
	text-align: center;
}

.logo_2{
	max-width: 60px;
	padding-top: 20px;
	margin:0 auto;
}
.social{
	width: 200px;
	height: 80px;
	margin-bottom: 100px;
	margin: 0 auto;
	
}

.icon_facebook{
	width: 20%;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}
p{
	width: 100%;
	border-top: 1px solid white;
	margin: 0 auto;
	line-height: 30px;
	font-size: 10px;
	opacity: 0.4;
	
}

}
/*------------------------------------------------tamaño 768-----------------------------------*/
@media(min-width: 768px){

#portafolio{
	width: 100%;
	height: 100%;
	
}

.banner{
	
	width: 100%;
	height: 230px;
}

.titulo_2{
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	padding-top: 100px;
}
#contenedor{
	width: 100%;
	margin: 0 auto;
	
}
#campañas{
	width: 100%;
	max-width: 700px;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 80px;


}
#laptop{
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
}

#copycampañas{
	top: -20px;
	width: 400px;
	margin: 0 auto;
	text-align: center;

}
#campañas h2{
	color: #fa6646;
	font-size: 25px;
}
#campañas p{
	font-size: 16px;
	line-height: 18px;

}
#section{
	width: 70%;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 80px;
	
}


#copybanner {
	margin-left: 10px;
	width: 340px;
	margin: 0 auto;
	text-align: center;
}


#copybanner h2{
	color: white;
	font-size: 25px;
}
#copybanner p{
	color: #f3f3f3;
	font-size: 16px;
	line-height: 16px;
	border:none;
	opacity: 1;
	font-weight: 100;
}
#galeria{
	width: 95%;
	max-width: 700px;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 50px;
}

#galeria_2{
	width: 95%;
	max-width: 700px;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 50px;
}
/*-------------------footer*/
.footer{
	width: 100%;
	height: 100%;
	background: #000000;
	color:white;
	text-align: center;
}

.logo_2{
	max-width: 60px;
	padding-top: 20px;
	margin:0 auto;
}
.social{
	width: 200px;
	height: 80px;
	margin-bottom: 100px;
	margin: 0 auto;
	
}

.icon_facebook{
	width: 20%;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}
p{
	width: 100%;
	border-top: 1px solid white;
	margin: 0 auto;
	line-height: 30px;
	font-size: 10px;
	opacity: 0.4;
	
}	
}
/*------------------------------------------------tamaño 1024-----------------------------------*/
@media(min-width: 1024px){


#portafolio{
	width: 100%;
	height: 100%;
	
}

.banner{
	width: 100%;
	height: 250px;
}

.titulo_2{
	width: 100%;
	max-width: 364px;
	margin: 0 auto;
	padding-top: 100px;
}
#contenedor{
	width: 100%;
	max-width: 800px;
	height: 100%;
	margin: 0 auto;
	
}
#campañas{
	width: 80%;
	max-width: 672px;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 20px;


}
#laptop{
	width: 100%;
	max-width: 590px;
	height: 100%;
}

#copycampañas{
	width: 500px;
	margin: 0 auto;
	text-align: center;

}
#campañas h2{
	color: #fa6646;
	font-size: 25px;
}
#campañas p{
	font-size: 12px;
}
#section{
	width: 80%;
	max-width: 800px;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 50px;
	
}


#copybanner {
	margin-left: 10px;
	width: 500px;
	margin-top:-10px; 
	margin: 0 auto;
	text-align: center;
}


#copybanner h2{
	color: white;
	font-size: 25px;
}
#copybanner p{
	color: white;
	font-size: 12px;
}
#galeria{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 100px;
}
#galeria_2{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 100px;
}





/*footer*/
.footer{
	width: 100%;
	height: 100%;
	background: #000000;
	color:white;
	text-align: center;
}

.logo_2{
	max-width: 60px;
	padding-top: 20px;
	margin:0 auto;
}
.social{
	width: 200px;
	height: 80px;
	margin-bottom: 100px;
	margin: 0 auto;
	
}

.icon_facebook{
	width: 20%;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}
h3{
	width: 100%;
	border-top: 1px solid white;
	margin: 0 auto;
	line-height: 30px;
	font-size: 10px;
	opacity: 0.4;
	
}	
}

/*------------------------------------------------tamaño 1280-----------------------------------*/
@media(min-width: 1280px){



#portafolio{
	width: 100%;
	height: 100%;
	
}

.banner{
	width: 100%;
	height: 250px;
}

.titulo_2{
	width: 100%;
	max-width: 364px;
	margin: 0 auto;
	padding-top: 100px;
}
#contenedor{
	width: 100%;
	max-width: 800px;
	height: 100%;
	margin: 0 auto;
	
}
#campañas{
	width: 80%;
	max-width: 672px;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 20px;


}
#laptop{
	width: 100%;
	max-width: 590px;
	height: 100%;
}

#copycampañas{
	width: 500px;
	margin: 0 auto;
	text-align: center;

}
#campañas h2{
	color: #fa6646;
	font-size: 25px;
}
#campañas p{
	font-size: 12px;
}
#section{
	width: 80%;
	max-width: 800px;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 100px;
	
}


#copybanner {
	margin-left: 10px;
	width: 500px;
	margin-top:-10px; 
	margin: 0 auto;
	text-align: center;
}


#copybanner h2{
	color: white;
	font-size: 25px;
}
#copybanner p{
	color: white;
	font-size: 12px;
}
#galeria{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 100px;
}
#galeria_2{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 100px;
}





/*footer*/
.footer{
	width: 100%;
	height: 100%;
	background: #000000;
	color:white;
	text-align: center;
}

.logo_2{
	max-width: 60px;
	padding-top: 20px;
	margin:0 auto;
}
.social{
	width: 200px;
	height: 80px;
	margin-bottom: 100px;
	margin: 0 auto;
	
}

.icon_facebook{
	width: 20%;
	display: inline-block;
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}
h3{
	width: 100%;
	border-top: 1px solid white;
	margin: 0 auto;
	line-height: 30px;
	font-size: 10px;
	opacity: 0.4;
	
}


}